@import "../scss/bootstrap";

body, html {
  height: 100%;
}

.bk-header {
  margin-bottom: 4%;
  font-size: 1.4em;
}

.bk-header-shift {
  margin-top: 5em;
}

.bk-match-card-content {
  font-size: 1.4em;
}

@include media-breakpoint-up(md) {
  .bk-header {
    font-size: 2.3em;
  }

  .bk-match-card-content {
    font-size: 2.3em;
  }
}