<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
    <title>Alfred Wallace Bookie</title>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="img/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="img/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="img/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="img/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="img/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="img/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="img/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="img/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="img/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="img/mstile-310x310.png" />
</head>
<body>
<div id="body" class="h-100">
    <nav class="navbar navbar-expand bg-info navbar-dark fixed-top bk-header">
        <div class="container">
            <div v-if="loggedIn" class="navbar-nav w-100 d-flex">

                <a class="nav-item nav-link mr-auto" href="#" @click="logOut">
                    <font-awesome-icon icon="user-slash" class="fa-lg"></font-awesome-icon>
                    <span :class="responsiveDisplay">Déconnexion</span>
                </a>
                <a v-if="isAdmin" class="nav-item nav-link" :class="{ active: page === 'admin' }" href="#"
                   @click="showAdmin">
                    <font-awesome-icon icon="unlock" class="fa-lg"></font-awesome-icon>
                    <span :class="responsiveDisplay">Admin</span>
                </a>

                <a class="nav-item nav-link" :class="{ active: page === 'match-bet-list' }" href="#"
                   @click="showMatchBetList">
                    <font-awesome-icon icon="futbol" class="fa-lg"></font-awesome-icon>
                    <span :class="responsiveDisplay">Matchs</span>
                </a>

                <a class="nav-item nav-link" :class="{ active: page === 'rank-list' }" href="#"
                   @click="showRankList">
                    <font-awesome-icon icon="list-ol" class="fa-lg"></font-awesome-icon>
                    <span :class="responsiveDisplay">Classement</span>
                </a>

                <a class="nav-item nav-link" :class="{ active: page === 'match-history-list' }" href="#"
                   @click="showMatchHistoryList">
                    <font-awesome-icon icon="history" class="fa-lg"></font-awesome-icon>
                    <span :class="responsiveDisplay">Historique</span>
                </a>

            </div>
            <span v-else class="navbar-brand w-100 text-center">
                Alfred Wallace Bookie
            </span>
        </div>
    </nav>
    <div id="main-container" class="container h-100">
        <match-bet-list v-if="loggedIn && page === 'match-bet-list'" :api-base-url="apiBaseUrl" :token="token"
                        :user-id="userId"></match-bet-list>

        <match-history-list v-if="loggedIn && page === 'match-history-list'" :api-base-url="apiBaseUrl" :token="token"
                        :user-id="userId"></match-history-list>

        <rank-list v-else-if="loggedIn && page === 'rank-list'" :api-base-url="apiBaseUrl" :token="token"
                   :user-id="userId"></rank-list>

        <admin v-else-if="loggedIn && page === 'admin'" :api-base-url="apiBaseUrl" :token="token"
               :user-id="userId"></admin>

        <login-form v-else :api-base-url="apiBaseUrl"></login-form>

        <notifications width="100%" position="top center" classes="bk-notification"></notifications>
    </div>
</div>
<script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>
</html>